<mat-toolbar fxLayout="row" color="primary">
    <mat-icon>home</mat-icon><span>Minute Page</span>
    <button mat-button *ngFor="let item of menuItems" fxHide.xs fxLayoutAlign="start center">
        {{item.label}}
    </button>

    <button mat-button fxFlex fxLayoutAlign="end" fxHide.xs><mat-icon>account_circle</mat-icon></button>

    <!-- small device -->
    <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxLayoutAlign="end" fxFlex fxHide fxShow.xs>
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #dropMenu="matMenu">
        <ng-container *ngFor="let item of menuItems">
            <button mat-menu-item>
                {{item.label}}
            </button>
            <mat-divider></mat-divider>
        </ng-container>
    </mat-menu>
</mat-toolbar>



<mat-toolbar fxLayout="row">
    <div class="">
        <button mat-button fxHide.xs fxLayoutAlign="start center"><mat-icon>home</mat-icon>Dashboard /</button></div>
    <div class=""> <button mat-button fxHide.xs fxLayoutAlign="start center">Website Overview</button>
    </div>
    <div class="button-row" fxLayoutAlign="center center" fxHide.xs>
        <mat-icon>language</mat-icon><a mat-button href="http://testtemplateone.minutepages.com" class="mat-h3" target="_blank">http://testtemplateone.minutepages.com</a>
    </div>
    <div class="button-row" fxLayoutAlign="end " fxHide.xs>
        <button mat-raised-button color="primary" fxLayoutAlign="end center"><mat-icon>open_in_browser</mat-icon>Wp Admin</button>
        <button mat-raised-button color="primary" fxLayoutAlign="end"><mat-icon>publish</mat-icon>Publish</button>
        <button mat-raised-button color="warn" fxLayoutAlign="end"> <mat-icon>visibility</mat-icon>Preview</button>
    </div>



    <!-- small device -->
    <div class="button-row" fxLayout="row" fxHide fxShow.xs>
        <button mat-raised-button color="primary" fxLayoutAlign=" center"><mat-icon>open_in_browser</mat-icon>Wp Admin</button>
        <button mat-raised-button color="primary" fxLayoutAlign="center"><mat-icon>publish</mat-icon>Publish</button>
        <button mat-raised-button color="warn" fxLayoutAlign="center"> <mat-icon>visibility</mat-icon>Preview</button>
    </div>

</mat-toolbar>