<!-- <p>home works!</p> -->
<mat-sidenav-container fxLayoutAlign="" fullscreen>
    <mat-sidenav opened mode="side" fxHide.xs>
        <mat-nav-list>
            <a mat-list-item routerLink=". ">
                <mat-icon>dashboard</mat-icon> OverView</a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink=". ">
                <mat-icon>power</mat-icon>Plugin</a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink=". ">
                <mat-icon>perm_media</mat-icon>Themes</a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink=". ">
                <mat-icon>star</mat-icon>Review This Theme</a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink=". ">
                <mat-icon>home</mat-icon>Blog Add-on</a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink=". ">
                <mat-icon>location_on</mat-icon>Location Page Add-on</a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink=". ">
                <mat-icon>search</mat-icon>SEO Add-on</a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink=". ">
                <mat-icon>home</mat-icon>SMO Add-on</a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item routerLink=". ">
                <mat-icon>home</mat-icon>PPC Add-on</a>
        </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="main-content ">

            <button mat-raised-button color="primary" fxHide fxShow.xs (click)="toggleShow()"><mat-icon >menu</mat-icon></button>

            <mat-sidenav fxHide fxShow.xs *ngIf="isShown">
                <mat-nav-list>
                    <a mat-list-item routerLink=". ">
                        <mat-icon>dashboard</mat-icon> OverView</a>
                </mat-nav-list>
                <mat-nav-list>
                    <a mat-list-item routerLink=". ">
                        <mat-icon>power</mat-icon>Plugin</a>
                </mat-nav-list>
                <mat-nav-list>
                    <a mat-list-item routerLink=". ">
                        <mat-icon>perm_media</mat-icon>Themes</a>
                </mat-nav-list>
                <mat-nav-list>
                    <a mat-list-item routerLink=". ">
                        <mat-icon>star</mat-icon>Review This Theme</a>
                </mat-nav-list>
                <mat-nav-list>
                    <a mat-list-item routerLink=". ">
                        <mat-icon>home</mat-icon>Blog Add-on</a>
                </mat-nav-list>
                <mat-nav-list>
                    <a mat-list-item routerLink=". ">
                        <mat-icon>location_on</mat-icon>Location Page Add-on</a>
                </mat-nav-list>
                <mat-nav-list>
                    <a mat-list-item routerLink=". ">
                        <mat-icon>search</mat-icon>SEO Add-on</a>
                </mat-nav-list>
                <mat-nav-list>
                    <a mat-list-item routerLink=". ">
                        <mat-icon>home</mat-icon>SMO Add-on</a>
                </mat-nav-list>
                <mat-nav-list>
                    <a mat-list-item routerLink=". ">
                        <mat-icon>home</mat-icon>PPC Add-on</a>
                </mat-nav-list>

            </mat-sidenav>

            <!-- <div class="content"> -->
            <div fxLayout="row wrap" fxLayoutGap="16px grid">
                <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="33%">
                    <mat-card class="mat-elevation-z4">
                        <mat-card-header>
                            <mat-card-title fxLayoutGap="">Update </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-tab-group>
                                <mat-tab fxLayout="row" fxFlex>
                                    <ng-template mat-tab-label>

                                        <span class="tabsquare tab1 "> Plugin</span>
                                    </ng-template>
                                    <mat-list>
                                        <mat-list-item>
                                            <mat-icon class="square" matListIcon>power</mat-icon>
                                            <h3 matLine> Gravity Form </h3>
                                            <p matLine>
                                                Easily create web forms and manage form entries within the wordpress admin.</p>


                                            <p matLine>There is a new version of Gravity Forms available new version 2.4.21 or update now </p>
                                        </mat-list-item>
                                        <mat-list-item>
                                            <mat-icon class="square" matListIcon>power</mat-icon>
                                            <h3 matLine> Yoast SEO </h3>
                                            <p matLine>
                                                The first true all-in-one SEO solution for WordPress,including on-page content analysis,XML sitemaps and much more. </p>
                                            <p matLine>
                                                There is new version of Yoast SEO available new version 15.5 or update now
                                            </p>
                                        </mat-list-item>
                                    </mat-list>
                                </mat-tab>

                                <mat-tab>
                                    <ng-template mat-tab-label>
                                        <span class="tabsquare tab2 ">Themes</span>

                                    </ng-template>
                                    Content 2
                                </mat-tab>

                                <mat-tab>
                                    <ng-template mat-tab-label>
                                        <span class="tabsquare tab3 ">WordPress</span>

                                    </ng-template>

                                    Content 3
                                </mat-tab>
                            </mat-tab-group>
                        </mat-card-content>

                    </mat-card>
                </div>
                <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="33%">
                    <mat-card class="mat-elevation-z4">
                        <mat-card-header>
                            <mat-card-title>Site Info </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>

                            <mat-toolbar-row>
                                <p> <span>Title</span>
                                    <span>   -- Details</span></p>
                            </mat-toolbar-row>
                            <mat-toolbar-row>
                                <p> <span>Wordpress Version</span>
                                    <span> --   5.5.1</span></p>


                            </mat-toolbar-row>
                            <mat-toolbar-row>
                                <p> <span>Debug Mode</span>
                                    <span>-- Disable</span>
                            </mat-toolbar-row>
                            <mat-toolbar-row>
                                <p> <span>PHP Version</span>
                                    <span>-- 7.2.34</span></p>
                            </mat-toolbar-row>
                            <mat-toolbar-row>
                                <p><span>MainWP Version</span>
                                    <span>-- 4.1.3</span></p>
                            </mat-toolbar-row>
                            <mat-toolbar-row>
                                <p> <span>PHP Memory Limit</span>
                                    <span>-- 128M</span>
                                </p>
                            </mat-toolbar-row>
                            <mat-toolbar-row>
                                <p> <span>MYSQL Version</span>
                                    <span>-- 5.7.32</span></p>
                            </mat-toolbar-row>
                            <mat-toolbar-row>
                                <p> <span>Activated Theme </span>
                                    <span>-- Divi Child Theme</span></p>
                            </mat-toolbar-row>
                            <mat-toolbar-row>
                                <p>
                                    <span>Server IP </span>
                                    <span>-- NA</span></p>
                            </mat-toolbar-row>




                            <!-- </mat-toolbar-row> -->
                        </mat-card-content>

                    </mat-card>
                </div>
            </div>
            <!-- </div> -->


            <div class="mat-table">
                <div class="mat-h2 title ">Recent Pages</div>
                <div class="mat-header-row" fxLayoutAlign="end center ">
                    <div class="mat-header-cell mat-h2 ">Title</div>
                    <div class="mat-header-cell mat-h3 ">Category</div>
                    <div class="mat-header-cell mat-h3 ">Date</div>
                    <div class="mat-header-cell mat-h3 ">Action</div>
                </div>
                <div class="mat-row ">
                    <div class="mat-cell title ">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                    <div class="mat-cell ">Real Estate</div>
                    <div class="mat-cell ">October 15,2020 (MST)</div>
                    <div class="mat-cell "> <button mat-flat-button><mat-icon class="edit-icon">edit</mat-icon></button></div>
                </div>
                <div class="mat-row ">
                    <div class="mat-cell title ">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                    <div class="mat-cell ">Real Estate</div>
                    <div class="mat-cell ">October 15,2020 (MST)</div>
                    <div class="mat-cell "> <button mat-flat-button><mat-icon class="edit-icon">edit</mat-icon></button></div>
                </div>
                <div class="mat-row ">
                    <div class="mat-cell title ">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                    <div class="mat-cell ">Real Estate</div>
                    <div class="mat-cell ">October 15,2020 (MST)</div>
                    <div class="mat-cell "> <button mat-flat-button><mat-icon class="edit-icon">edit</mat-icon></button></div>
                </div>
            </div>


            <div class="mat-table post ">
                <div class="mat-h2 title ">Recent Posts</div>
                <div class="mat-header-row " fxLayoutAlign="end center ">
                    <div class="mat-header-cell mat-h2 ">Title</div>
                    <div class="mat-header-cell mat-h3 ">Date</div>
                    <div class="mat-header-cell mat-h3 ">Action</div>
                </div>
                <div class="mat-row " fxLayoutAlign="space-between center ">
                    <div class="mat-cell title ">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                    <div class="mat-cell ">October 15,2020 (MST)</div>
                    <div class="mat-cell "> <button mat-flat-button><mat-icon class="edit-icon">edit</mat-icon></button></div>
                </div>
                <div class="mat-row " fxLayoutAlign="space-between center ">
                    <div class="mat-cell title ">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                    <div class="mat-cell ">October 15,2020 (MST)</div>
                    <div class="mat-cell "> <button mat-flat-button><mat-icon class="edit-icon">edit</mat-icon></button></div>
                </div>
                <div class="mat-row " fxLayoutAlign="space-between center ">
                    <div class="mat-cell title ">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                    <div class="mat-cell ">October 15,2020 (MST)</div>
                    <div class="mat-cell "> <button mat-flat-button><mat-icon class="edit-icon">edit</mat-icon></button></div>
                </div>
            </div>




        </div>


    </mat-sidenav-content>
</mat-sidenav-container>