mat-sidenav,
mat-sidenav-content {
    padding: 25px;
    background-color: #f5f5f5;
}

// mat-sidenav {
//     background-color: #f5f5f5;
// }
mat-icon {
    margin: 0 15px 0 0;
}

mat-sidenav-content {
    width: -webkit-fill-available;
}

mat-toolbar-row {
    height: 100%;
}

.mat-table {
    display: block;
    text-align: center;
}

.mat-row,
.mat-header-row {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    align-items: center;
    min-height: 48px;
    padding: 0 24px;
}

.post {
    margin-top: 4%;
}

.mat-cell,
.mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
}

.mat-row {
    border-bottom-color: lightgray;
}

.title {
    text-align: left;
}

.square {
    width: 40px!important;
    height: 40px!important;
    background: #e4dbc5 !important;
    border-radius: 10% !important;
    color: #bdaeae !important;
    font-size: 35px!important;
}

.tabsquare {
    width: 75px;
    height: 40px;
    border-radius: 10%;
}

.tab1 {
    background: #f5c208;
}

.tab2 {
    background: #14a70b;
}

.tab3 {
    background: #1fc5d6;
}

mat-list-item {
    margin: 5px 0;
}

.mat-tab-label {
    height: 80px!important;
}

.edit-icon {
    width: 30px !important;
    height: 25px !important;
    background: #0c6bccf2 !important;
    border-radius: 10% !important;
    color: white;
    font-size: 20px;
}

mat-toolbar {
    justify-content: space-between;
}

.content {
    padding: 16px;
}

.content>mat-card {
    margin-bottom: 16px;
}

@media only screen and (max-width: 600px) {
    .mat-tab-label-container {
        display: inline!important;
    }
}